<%- include ('../partials/navbar.ejs') %>
<div class="container">
  <div class="row">
    <div class="col title" style="font-size: 30px">
      Selamat Datang di Donor Darah <br />
      Tempat Penyebaran Info Kebutuhan Darah
    </div>
  </div>
  <div class="row">
    <div class="col my-4">
      <span class="text-danger" style="font-size: 20px"
        >Apa itu Donor Darah?</span
      >
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci quasi
        ad quae, aut, cum laudantium quos dicta excepturi repellat sequi culpa
        minima optio tempora labore. Sit eligendi eos voluptas architecto
        reiciendis ex corrupti in placeat recusandae error perspiciatis hic
        laborum itaque, nihil, nemo provident exercitationem dicta, aspernatur
        incidunt nisi aliquid!
      </p>
    </div>
    <div class="col my-4">
      <span class="text-danger" style="font-size: 20px">Visi Misi</span>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci quasi
        ad quae, aut, cum laudantium quos dicta excepturi repellat sequi culpa
        minima optio tempora labore. Sit eligendi eos voluptas architecto
        reiciendis ex corrupti in placeat recusandae error perspiciatis hic
        laborum itaque, nihil, nemo provident exercitationem dicta, aspernatur
        incidunt nisi aliquid!
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col"></div>
  </div>
</div>

<%- include ('../partials/footer.ejs') %>
