<%- include('../partials/header.ejs') %>
<div class="register">
  <form action="/account/register/create" method="POST">
    <div>
      <h3>Daftar Sekarang</h3>
    </div>
    <%- include('../partials/alert.ejs') %>
    <div class="mb-2">
      <input
        type="text"
        name="username"
        class="text_field"
        placeholder="Username"
        autofocus
        required
      />
    </div>
    <div class="mb-2">
      <input
        type="email"
        name="email"
        class="text_field"
        placeholder="Email"
        required
      />
    </div>
    <div class="mb-2">
      <input
        type="password"
        name="password"
        class="text_field"
        placeholder="Sandi"
        required
      />
    </div>
    <div class="mb-2">
      <input
        type="password"
        name="passConfirm"
        class="text_field"
        placeholder="Konfirmasi Sandi"
        required
      />
    </div>
    <div>
      <input class="btn btn-danger btn-sm" type="submit" value="Register" />
      <div>Sudah punya akun?</div>
      <a class="" href="/account/login">Login</a>
    </div>
    <a href="/">Back</a>
  </form>
</div>

<!-- <form action="/account/register/create" method="POST">
  <input type="text" placeholder="nama" name="username" /><br />
  <input type="email" placeholder="email" name="email" /><br />
  <input type="password" placeholder="password" name="password" /><br />
  <input type="password" placeholder="passConfirm" name="passConfirm" />
  <input type="submit" value="Register" />
</form> -->
